/* You can add global styles to this file, and also import other style files */
@import "stylesheets/variables";

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.our-toolbar {
  background-color: $blue;
  top: 0px;
  box-shadow: 0 2px 5px 0 $grey;
  width: 100%;
  z-index: 1;
  color: $white;
  margin-bottom: 50px;
}